[user]
	name = Dayna Blackwell
	email = dayna.blackwell@bwh.com
[core]
	editor = nano
	autocrlf = input
[color]
	ui = auto
[safe]
	directory = /mnt/c/Users/blackwd/OneDrive – BWI/OneDrive - Best Western Hotels and Resorts/Documents/code/BW/BWR/promotion-engine/stay-event-adapter-poc
	directory = /mnt/c
	directory = /mnt/c/code/call-center
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
